h1{
    color: red;
}

p{
    text-align: center;
}

h2{
    color:black;
    text-align: center;
    background-color: darkgoldenrod;
}

body{
    background-color: palegreen;
}

table{
    margin-left: auto;
    margin-right: auto;
}

.masud_square{
    width: 100px;
    height: 100px;
    background-color: seagreen;
    margin: auto;
}

#masud_circle{
    color: black;
    font-size: 40px;
}

.container {
    background-color: rebeccapurple;
}

.list{
    text-align: center;
}

ol{
    text-align: center;
    display: inline-block;
}

form{
    text-align: center;
}
